# Copy to a local untracked env file if desired. Do not store passwords here.
CODESIGN_IDENTITY='Developer ID Application: xin song (2HJP9YYL3H)'
TEAM_ID='2HJP9YYL3H'
NOTARY_PROFILE='AC_NOTARY'
TIMESTAMP_URL='http://timestamp.apple.com/ts01'

# Public release identity (default)
APP_FLAVOR='public'
APP_NAME='Type4Me'
APP_BUNDLE_ID='com.type4me.app'
URL_SCHEME='type4me'

# Personal side-by-side identity
# APP_FLAVOR='personal'
# APP_NAME='Type4Me CtriXin'
# APP_BUNDLE_ID='com.ctrixin.type4me'
# URL_SCHEME='type4me-ctrixin'
